
.vs/RoadCallouts/v17/Browse.VC.db
.vs/RoadCallouts/v17/Browse.VC.db-shm
.vs/RoadCallouts/v17/Browse.VC.db
.vs/RoadCallouts/v17/Browse.VC.db-wal
.vs/RoadCallouts/v17/Browse.VC.db
.vs/RoadCallouts/v17/Browse.VC.opendb
.vs/RoadCallouts/v17/Browse.VC.db
RoadCallouts/obj/x64/Debug/build.force
